body {
    font-family: Arial, sans-serif;
    
    background: url('https://www.shutterstock.com/image-vector/body-mass-index-poster-flat-600nw-2167939339.jpg') no-repeat center center;
background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    width: 390px;
    height:450px;

}


h1 {
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
}

button:hover {
    background-color: rgb(195, 74, 80);
}

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}